wob
wob.exe
wob.exe.stackdump
*.darb
*~
*.log
*.csv
*.sarb
*.r
*.so
*.o
*.lo
.libs
config.guess
config.sub
libwob.la
libtool
ltmain.sh
test.c
*.dll
gmon.out
profile
compile.arb
profile.2
autom4te.cache
config.status
Makefile.in
aclocal.m4
depcomp
install-sh
missing
.deps
.dirstamp
compile
configure
Makefile
test-driver
*.trs
test.txt
m4