wob
wob.exe
wob.exe.stackdump
*.dwob
*~
*.log
*.csv
*.r
*.so
*.o
*.lo
.libs
config.guess
config.sub
libwob.la
libtool
ltmain.sh
test.c
*.dll
gmon.out
profile
profile.2
autom4te.cache
config.status
Makefile.in
aclocal.m4
depcomp
install-sh
missing
.deps
.dirstamp
compile
configure
Makefile
test-driver
*.trs
test.txt
m4
operator.c
test_arg
test_copy
callgrind*
libwob.so.0.profile
name_ideas.org